<mat-toolbar class="header">
    <mat-toolbar-row class="header-row">
        <img style="width: 40px;" src="assets/icons/menu.svg" alt="Menu icon">

        <div class="user-info">
            @if (currentUser$ | async; as user) {
                <span class="user-name" [matMenuTriggerFor]="menu"> Olá, <b>{{ user.name }}</b>! </span>
                <img class="user-pic" [src]="user.picture" alt="User's profile picture" [matMenuTriggerFor]="menu" />
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Conta</button>
                    <button mat-menu-item (click)="openDialog()">Logout</button>
                </mat-menu>
                }
        </div>
    </mat-toolbar-row>
</mat-toolbar>