.header {
    background-color: #5cadfd;
    padding: 10px;

    .header-row {
        justify-content: space-between;

        .menu-icon-wrapper {
            padding: 5px;
            border-radius: 15px;

            .menu-icon {
                width: 40px;
                cursor: pointer;
            }
        }

        .logo-wrapper {
            position: absolute;
            left: calc(50% - 25px);

            img {
                width: 50px;
            }
        }

        .user-info {
            display: flex;
            align-items: center;

            .user-name {
                margin-right: 10px;
                font-size: 16px;
                color: #FFFFFF;
                opacity: 0.8;
            }

            .user-pic {
                width: 50px;
                height: 50px;
                border: 1.5px solid rgba(255, 255, 255, 0.7);
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}