<div class="clock-container">
    <span class="date quicksand-font">
        <b>
            <span style="text-transform: capitalize;"> {{ currentTime | date: 'EEEE' : '' : 'pt-BR' }}, </span>
            <span> {{ currentTime | date: 'longDate' : '' : 'pt-BR' }} </span>
        </b>
    </span>

    <div class="clock-face">
        <div class="clock-face-item hours">
            <span class="stardos-stencil-font">{{ currentTime | date:'HH' }}</span>
        </div>
        <div class="clock-face-separator">
            <span> : </span>
        </div>
        <div class="clock-face-item minutes">
            <span class="stardos-stencil-font">{{ currentTime | date:'mm' }}</span>
        </div>
        <div class="clock-face-separator">
            <span> : </span>
        </div>
        <div class="clock-face-item seconds">
            <span class="stardos-stencil-font">{{ currentTime | date:'ss' }}</span>
        </div>
    </div>

    <div class="btn-wrapper">
        <button type="button" class="btn-std" aria-label="Registrar ponto no sistema" matRipple>
            <span class="quicksand-font">Registrar Ponto</span>
        </button>

        <button type="button" class="btn-stroked" aria-label="Registrar ponto no sistema" matRipple>
            <span class="quicksand-font">Acessar painel detalhado</span>
        </button>
    </div>
</div>

