<div class="wrapper">

    <div class="login-container">
        <div class="login shadow-underlay">
            <header style="align-items: center;">
                <img src="assets/icons/spot-on-logo.svg" style="width: 50px;" alt="">
                <span class="quicksand-font title"> Spot On </span>
            </header>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                <div class="content-wrapper">
                    <mat-form-field appearance="outline" class="input">
                        <mat-label> Código da Empresa </mat-label>
                        <input id="codigoEmpresa" matInput formControlName="codigoEmpresa">
                        <mat-icon matPrefix class="input-icon">domain</mat-icon>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" class="input">
                        <mat-label> Usuário </mat-label>
                        <input id="usuario" matInput formControlName="usuario">
                        <mat-icon matPrefix class="input-icon">person</mat-icon>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="input">
                        <mat-label> Senha </mat-label>
                        <input id="senha" matInput formControlName="senha" [type]="hidePassword ? 'password' : 'text'">
                        <mat-icon matPrefix class="input-icon">lock</mat-icon>
                        <button
                            mat-icon-button
                            matSuffix
                            class="input-icon"
                            (click)="hidePassword = !hidePassword"
                            [attr.aria-label]="'hidePassword password'"
                            [attr.aria-pressed]="hidePassword"
                        >
                            <mat-icon> {{ hidePassword ? 'visibility_off' : 'visibility' }} </mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                
                <div class="button-wrapper">
                    <button mat-raised-button class="btn" type="button" (click)="onClickSignUp()"> Cadastrar </button>
                    <button mat-raised-button class="btn btn-primary" type="submit"> Login </button>
                </div>

                <div class="button-wrapper">
                    <button mat-stroked-button type="button" (click)="signInWithGoogle()">
                        <img
                            src="assets/icons/google-logo.svg"
                            alt="Google"
                            class="google-icon"
                        />
                    </button>
                </div>
            </form>

            <a [routerLink]="['/forgot-password']" class="link">
                Esqueceu a senha?
            </a>
        </div>
    </div>

    <!-- <div class="google-login">
        <span> Ou faça login com a sua <br /> conta corporativa do Google </span>
    </div> -->

    <div class="footer">
        <span class="quicksand-font"> by SOL </span>
    </div>
</div>