<app-header></app-header>

@if (currentUser$ | async; as user) {
<mat-drawer-container class="sidenav-container">
    <mat-drawer #drawer mode="side" class="sidenav-content">
        <nav class="nav-wrapper">
            <img class="icon-close zoom"
                src="assets/icons/close.svg"
                alt="Close Icon"
                (click)="onToggleSidenav()"
                matTooltip="Fechar menu"
                matTooltipPosition="after"
                matTooltipShowDelay="300"
            >

            <div class="nav-items">
                @for (navItem of navItems; track $index) {
                <a class="nav-item quicksand-font" matRipple [routerLink]="[navItem.route]">
                    <img class="nav-item-icon" [src]="navItem.iconSrc" [alt]="navItem.iconAlt">
                    <span class="nav-item-text"> {{ navItem.name }} </span>
                </a>
                }
            </div>

            <div class="footer">
                <span class="quicksand-font"> by SOL </span>
            </div>
        </nav>
    </mat-drawer>
    <mat-drawer-content class="main-content">
        <router-outlet />
    </mat-drawer-content>
</mat-drawer-container>

}