.sidenav-container {
    margin: 10px;
    height: calc(100% - 100px);

    .sidenav-content {
        background-color: #e6e7f0;
        padding: 5px;
        border-radius: 16px;

        .nav-wrapper {
            width: calc(100% - 20px);
            padding: 10px;

            .icon-close {
                width: 20px;
                float: right;
                cursor: pointer;
            }
        }
    }
}